<!DOCTYPE html>
<html>
<head>
    <title>Prediction Result</title>
    <style>
        body {
            background-color: #111;
            color: white;
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
        }
        .card {
            background: #222;
            padding: 40px;
            border-radius: 10px;
            display: inline-block;
        }
        a {
            color: orange;
            display: block;
            margin-top: 20px;
            text-decoration: none;
        }
    </style>
</head>
<body background= "https://tse4.mm.bing.net/th/id/OIP.vQJYZFuLozuZfa-B9nqU_AHaEK?w=1920&h=1080&rs=1&pid=ImgDetMain&o=7&rm=3"></body>
    <div class="card">
        <h1>{{ prediction_text }}</h1>
        <a href="/">← Back to Home</a>
    </div>
</body>
</html>